/* WRAPPER */
.contact-wrapper {
  width: 100%;
  padding: 60px 0;
  background: #f9fafb;
  display: flex;
  justify-content: center;
}

.contact-container {
  width: 90%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

/* LEFT SIDE */
.contact-left {
  padding-right: 20px;
}

.contact-tag {
  color: #13253F;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.contact-title {
  font-size: 38px;
  font-weight: 700;
  color: #1a1a1a;
  margin: 10px 0 15px;
}

.contact-desc {
  color: #555;
  line-height: 1.6;
  margin-bottom: 25px;
}

.contact-info p {
  margin-bottom: 8px;
  color: #666;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.social-icons span {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: white;
  transition: 0.3s;
}

.social-icons span:hover {
  background: #FFDA32;
  color: white;
  border-color: #FFDA32;
}

/* RIGHT FORM CARD */
.contact-card {
  background: white;
  padding: 30px 35px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  border: 1px solid #eee;
}

.form-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}

/* FORM */
.contact-form .form-group {
  margin-bottom: 18px;
}

.contact-form label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #555;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
  transition: 0.3s ease-in-out;
  background: #fafafa;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #FFDA32;
  background: white;
  box-shadow: 0 0 0 3px rgba(231, 76, 60, 0.2);
}

/* SEND BUTTON */
.send-btn {
  width: 100%;
  background: #FFDA32;
  color: white;
  padding: 13px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.3s;
}
.contact-form select,
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-family: inherit;
}

.contact-form select {
  background-color: #fff;
  cursor: pointer;
}

.send-btn {
  margin-top: 10px;
}

.send-btn:hover {
  background: #FFDA32;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .contact-container {
    grid-template-columns: 1fr;
  }

  .contact-left {
    padding-right: 0;
  }
}